<div class="cards">
  <a
    class="card block flex align-items-center justify-content-center gap-1 h-full font-semibold text-600"
    routerLink="/general-settings"
  >
    <i class="fa-solid fa-gear"></i>
    <p>{{ "General Settings" | translate }}</p>
  </a>
  <a
    class="card block flex align-items-center justify-content-center gap-1 h-full font-semibold text-600"
    routerLink="/users"
  >
    <i class="fa-solid fa-user"></i>
    <p>{{ "Users" | translate }}</p>
  </a>
  <a
    class="card block flex align-items-center justify-content-center gap-1 h-full font-semibold text-600"
    routerLink="/slider-items"
  >
    <i class="fa-solid fa-image"></i>
    <p>{{ "Slider Items" | translate }}</p>
  </a>
  <a
    class="card block flex align-items-center justify-content-center gap-1 h-full font-semibold text-600"
    routerLink="/locations"
  >
    <i class="fas fa-location-dot"></i>
    <p>{{ "Locations" | translate }}</p>
  </a>
  <a
    class="card block flex align-items-center justify-content-center gap-1 h-full font-semibold text-600"
    routerLink="/lookups"
  >
    <i class="fa-solid fa-warehouse"></i>
    <p>{{ "Lookups" | translate }}</p>
  </a>
</div>
