.filters-hint {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  padding: 0.25rem 0.5rem;
  background-color: var(--gray-50);
  border: 1px dashed var(--gray-400);
  border-radius: 6px;
}
