<div class="text-center mb-2">
 <h1 class="font-bold text-xl">{{ "Forget Password" | translate }}</h1>
</div>
@if(!message()){
<app-form
  [form]="forgetForm"
  [model]="model"
  [fields]="fields"
  [submitBtnLoading]="loading()"
  buttonLabel="{{ 'Submit' | translate }}"
  footerFormClass="px-0"
  submitButtonClass="uppercase text-base w-full  bg-primary-color border-none shadow-none"
  (onSubmit)="forgetPassword()"
>
</app-form>
}@else {
<div class="text-center mt-4">
  <p class="max-w-20rem">{{ message() }}</p>
</div>
}
